#dashboard {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

#images img {
  position: absolute;
  z-index: -1;
}

img[alt="top"] {
  top: -5em;
  left: -5em;
  width: 20vw;
}

img[alt="esfere"] {
  top: 1em;
  right: 0;
  width: 14vw;
}

img[alt="littleCube"] {
  left: 1em;
  bottom: 1em;
  width: 10vw;
}

img[alt="bottomRight"] {
  bottom: 0;
  right: 0;
  width: 22vw;
}

img[alt="center"] {
  top: 45%;
  left: 45%;
  transform: translateX(-50%);
  transform: translateY(-50%);
  width: 5vw
}

#dashboard-glass {
  height: 90vh;
  width: 100vw;
  max-width: 2640px;
  margin: 70px 40px 0;
  border-radius: 20px;
  border: 1px solid rgba(20, 20, 20, 0.15);
  background-image: linear-gradient(to bottom right, rgba(255, 255, 255, .45), 60%, rgba(100, 100, 100, 0.45));
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(8px);
  position: relative;
  z-index: 2;
  overflow: hidden;
}

aside {
  height: 100%;
  width: 10em;
  border-radius: 20px 0 0 20px;
  background-color: var(--dark);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

aside>nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 40px;
}

#menu-icons {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 70px;
}

#menu-icons li {
  width: 4em;
  height: 4em;
  display: flex;
  align-items: center;
  justify-content: center;
}

#menu-icons li:hover,
#exit:hover {
  animation: shake 300ms ease-in-out;
}

.off * {
  stroke: var(--dark) !important;
}

#menu-icons li>svg,
#exit {
  width: 4em;
  height: 4em;
}

#exit:hover,
#menu-icons li:hover {
  cursor: pointer;
}

#menu-icons li:not(l#exit):hover * {
  fill: var(--orange);
}

img[alt='logo'] {
  width: 140%;
  margin: 40px 0 0 20%;
}

#nav-selector {
  position: absolute;
  right: -10px;
  top: 180px;
  transition: 300ms ease;
  z-index: 0;
}

#dashboard-content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 0;
  padding: 35px 1em 40px 280px;
  z-index: -1;
  overflow-y: scroll;
}

#dashboard-content::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(0, 0, 0, 0);
}

@media (max-width: 2200px) {

  #menu-icons li>svg,
  #exit {
    width: 3em;
    height: 3em;
  }

  #dashboard-content {
    padding: 35px 1em 40px 18em;
  }
}

@media (max-width: 1200px) {
  #dashboard-content {
    padding: 35px 7em 40px 22em;
  }
}

@media (max-width: 768px) {
  #dashboard-content {
    padding: 35px 0 3em 10em;
    align-items: center;
  }

  #sec-top,
  #sec-mid,
  #sec-bottom {
    max-width: 350px;
  }

  img[alt='logo'] {
    width: 100%;
    margin: 40px 0 0 20%;
  }
}

@media (max-width: 576px) {
  #dashboard-glass {
    margin: 70px 20px 0 10px;
  }

  #dashboard-content {
    padding: 1em 0 1em 10em;
  }

  #sec-top,
  #sec-mid,
  #sec-bottom {
    max-width: 300px;
  }
}

@media (max-width: 460px) {
  aside {
    width: 0;
    transition: 200ms ease;
    overflow: hidden;
  }

  #nav-selector {
    display: none;
  }

  #dashboard-content {
    padding: 1em 1em 1em 1em;
  }

  .show {
    width: 10em;
    overflow: visible;
  }
}

/* --------------  height related -------------------- */

@media only screen and (min-height: 2000px) {
  html {
    font-size: 22px;
  }

  #dashboard-glass {
    max-width: 3640px;
  }

  #dashboard-content {
    padding: 35px 1em 40px 18em;
  }

  #menu-icons {
    margin-top: 5em;
    gap: 5em;
  }

  #menu-icons li,
  #exit {
    width: 3em;
    height: 3em;
    margin-bottom: 2em;
  }
}

@media only screen and (max-height: 850px) {
  #menu-icons {
    margin-top: 5em;
    gap: 5em;
  }
}

@media only screen and (max-height: 600px) {
  #menu-icons {
    margin-top: 3em;
    gap: 3em;
  }
}