.right {
  width: 90%;
  overflow: hidden;
}

#exercise-plan {
  width: 100%;
  height: 100%;
}

#exercise-plan * {
  font-size: 1em;
}

#exercise-plan>.card {
  display: flex;
  gap: 1em;
  overflow-x: scroll;
}

#label,
.sets-area {
  display: flex;
  flex-direction: column;
}

.sets {
  display: flex;
  gap: 1em;
}

#label {
  margin-top: 1.5em;
  font-size: 1em;
  font-weight: 300;
  gap: 1.5em;
}

.sets-area {
  overflow: hidden;
  justify-content: center;
  animation: apear 150ms ease-in-out;
}

.set,
.weight,
.used {
  width: 100%;
  text-align: center;
  font-size: 1.25em !important;
  font-weight: 700;
  color: var(--dark);
  padding: .5em 0;
}

.set {
  border-radius: 10px 10px 0 0;
  background-color: var(--orange);
}

.weight {
  background-color: var(--light);
}

.used {
  background-color: rgba(0, 0, 0, 0);
  color: var(--light);
  font-weight: 400;
  max-width: 10ch;
  outline: none;
  border: none;
  border-left: 1px solid var(--orange);
  border-right: 1px solid var(--orange);
  border-bottom: 1px solid var(--orange);
}

.used:nth-of-type(2) {
  border-radius: 0 0 6px 6px;
}

#exercise-plan .done-btn,
#exercise-plan .add-btn {
  max-width: none !important;
  width: 100%;
  margin-top: 1em;
  font-size: 1.25em !important;
}

.add-btn {
  margin-top: .5em;
}

#add-set {
  margin-bottom: 3em;
  animation: apear 150ms ease-in-out;
}

@keyframes apear {
  0% {
    opacity: 0;
    transform: scale(1.1) translateX(-20%)
  }

  100% {
    opacity: 1;
    transform: scale(1)
  }
}

#add-set .set {
  background-color: var(--blue);
}

#add-set .used {
  border-left: 1px solid var(--blue);
  border-right: 1px solid var(--blue);
  border-bottom: 1px solid var(--blue);
  width: 100%;
}

#add-set .weight {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-left: 1px solid var(--blue);
  border-right: 1px solid var(--blue);
  border-bottom: 1px solid var(--blue);
  max-width: 10ch;
  font-size: 1.25em !important;
}

#add-set-btn {
  width: 3em;
  height: 3em;
  align-self: center;
  margin-bottom: 3em;
  border: none;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: inset 0 0 0 .2em var(--blue), 0 0 .2em var(--blue);
}

.hide {
  display: none;
}

@media screen and (max-width: 1200px) {
  .card {
    max-width: 720px;
  }
}

@media screen and (max-width: 992px) {
  .sets-area * {
    font-size: 14px;
  }

  .weight::placeholder {
    font-size: 14px;
  }
}


@media screen and (max-width: 768px) {}

@media screen and (max-width: 576px) {}