#jp-pro {
  width: 100%;
}

.pro-call {
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5em;
  background-color: var(--dark);
  border-top: .75em solid var(--orange);
  border-bottom: .75em solid var(--orange);
}

#pro-left>p {
  font-size: 1.75em;
  margin-bottom: .5em;
}

#pro-left>p>span {
  font-size: 1.1em;
}

#pro-left>ul li {
  font-size: 1.5em;
  margin-left: 24px;
  position: relative;
}

#pro-left>ul li::before {
  content: '';
  height: .5em;
  width: .5em;
  background-color: var(--orange);
  position: absolute;
  left: -22px;
  top: 45%;
  transform: translateY(-50%);
}

#pro-right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#pro-right img {
  width: 90%;
}

#pro-right>.price>strong {
  font-size: 2.8em;
}

#pro-right>.price>p {
  margin-bottom: .5em;
}

.pro-btn,
.add-btn {
  cursor: pointer;
}

@media (max-width: 2600px) {
  .pro-call {
    font-size: .9em;
  }
}

@media (max-width: 1200px) {}

@media (max-width: 992px) {}

@media (max-width: 768px) {}

@media (max-width: 576px) {}