#personal-notes {
  width: 100%;
}

#personal-notes form {
  display: flex;
  height: 100%;
  gap: 3em;
}

#personal-notes label:not([for='notes']) {
  cursor: pointer;
}

#personal-notes label:not([for='notes']):hover {
  color: var(--orange);
}

.radio-selected {
  background-color: var(--orange);
  font-weight: 900;
  color: var(--dark) !important;
}

#personal-notes p,
label[for='notes'] {
  font-size: 1.5em;
  text-decoration: underline;
  margin-bottom: 5px;
}

#personal-notes p:not(p[for='cardio']) {
  margin-top: 10px;
}

#add-cardio {
  max-width: max-content;
  box-shadow: inset 0 0 0 .2em var(--orange);
  background-color: rgba(0, 0, 0, 0);
  color: var(--light);
  font-weight: 300;
  cursor: pointer;
}

.cardio {
  cursor: pointer;
}

#add-cardio:hover {
  box-shadow: 0 0 8px var(--orange);
}

#personal-notes form button {
  margin-top: 10px;
  cursor: pointer;
  background-color: var(--orange);
  width: 100%;
  display: flex;
  justify-content: center;
}

#personal-notes textarea {
  width: 100%;
  margin-top: 5px;
  flex-grow: 1;
}

@media (max-width: 2200px) {
  #personal-notes .card {
    min-width: 95ch;
  }
}

@media (max-width: 768px) {
  #personal-notes form {
    flex-direction: column;
    gap: 0;
  }

  #personal-notes .card {
    min-width: 350px;
    padding: 1em 1.5em 3em;
  }
}

@media (max-width: 576px) {
  #personal-notes .card {
    min-width: 300px;
  }
}

/* --------------  height related -------------------- */

@media only screen and (min-height: 2000px) {}