#planners-form-container,
#exercise-form-container {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: grayscale(100%) blur(2px) drop-shadow(4px 4px 10px black);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#exercise-form-container {
  position: fixed;
  left: 0;
  top: 0;
}

#exercise-form-container input,
#exercise-form-container textarea {
  color: var(--dark);
  border: .1em solid var(--orange);
  border-radius: .3em;
  font-size: 1.25em;
}

#exercise-form-container textarea {
  width: 100% !important;
  padding-left: .5em;
}

#exercise-form-container .card label {
  display: inline-flex;
  min-width: 6ch;
  font-size: 1.25em;
}

#exercise-form-container .card label[for='exerciseReps'] {
  min-width: 5ch;
  margin-left: 1em;
}


#exercise-form-container .card .exercises {
  gap: .1em;
}

#exercise-form-container input {
  padding: .2em;
}

#exercise-form-container input[name='index'],
#exercise-form-container input[name='exerciseSets'],
#exercise-form-container input[name='exerciseReps'] {
  max-width: 3em !important;
  text-align: center;
}

#exercise-form-container input[name='exerciseName'] {
  margin: 1em 0;
}

#exercise-form-container input[name='exerciseName'] {
  text-indent: .5em;
}


#planners-form {
  max-height: 90%;
}

#planners-form-container form,
#exercise-form-container form {
  position: relative;
  animation: apear 350ms ease-in-out;
}

#planners-form-container legend,
#exercise-form-container legend {
  font-size: 1.25em;
  padding: 0 1em;
  color: var(--orange);
}

#planners-form-container fieldset {
  background-image: linear-gradient(to bottom right, var(--dark), 20%, rgba(0, 0, 0, 0.3));
  box-shadow: 0 0 3em rgba(0, 0, 0, 0.5);
  max-height: 80vh;
  overflow-y: scroll;
  min-width: 350px;
}

#planners-form-container label,
#planners-form-splits .content-card {
  font-size: 1.25em;
}

#planners-form-container button {
  font-size: 1.5em;
}

#confirm-edit-btn {
  flex: 2;
  background-color: var(--light);
  font-size: 1.25em;
  font-weight: 900;
  color: var(--dark);
}

#planner-split-schedule {
  display: flex;
  flex-wrap: wrap;
  gap: .5em;
  max-width: 450px;
  margin-bottom: 1em;
}

#planner-split-schedule * {
  flex-basis: 10em;
}

#planner-split-schedule option {
  color: var(--dark) !important;
}

#add-splits {
  display: flex;
  justify-content: space-between;
  gap: 2em;
}

#add-splits-btn {
  max-width: max-content;
  background-color: var(--blue);
  font-weight: 700;
  cursor: pointer;
}

#add-splits-btn:hover {
  box-shadow: 0 0 .3em var(--blue);
}

#planners-form-container p {
  color: gray;
  margin-top: -.75em;
  margin-bottom: .5em;
}

#close-planners-form,
#close-edit-exercise-form {
  font-size: 2em;
  position: absolute;
  top: -1.5em;
  right: 1em;
  padding: .5em 1em;
  color: var(--orange) !important;
  text-shadow: 0 0 6px black;
  text-decoration: none !important;
  cursor: pointer;
}

@media screen and (max-width: 390px) {
  #planners-form-container fieldset {
    min-width: 250px;
  }
}