:root {
  --light: #EEF4F6;
  --blue: #72D6FD;
  --orange: #FE9016;
  --dark: #343c3f;
  --facebook-bg: #3B5998;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: var(--light);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--light);
}

span {
  color: var(--orange);
  font-weight: 600;
}

body>header {
  background-color: var(--dark);
  width: 100vw;
  height: 50px;
  position: fixed;
  z-index: 20;
  display: flex;
  justify-content: center;
  font-size: 14px;
}

.max-area {
  height: 100%;
  width: 100%;
  max-width: 2670px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 20px;
}

#configs {
  transform: scale(0.95);
  margin-top: 5px;
}

#profile:hover *,
#configs:hover * {
  fill: var(--orange)
}

a:hover {
  color: var(--orange);
  text-shadow: 0 0 10px black !important;
}

header a:hover {
  color: var(--blue);
}

::-webkit-scrollbar {
  width: 10px;
  background-color: var(--dark);
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: var(--orange);
  border-radius: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.selected-item {
  box-shadow: inset 0 0 0 .15em var(--orange),
    0 2px 5px black
}

.selected-exercise *:not(strong, .edit, #remove, .remove-btn, .description-card p, .edit-exercise) {
  box-shadow: inset 0 0 0 .15em var(--orange),
    0 2px 5px black
}

.selected-date {
  color: var(--blue) !important;
}

#toggle-menu {
  display: none;
}

.done {
  background-color: var(--light) !important;
  color: var(--dark) !important;
  font-weight: 600 !important;
  border: none !important;
}

.done:first-child,
.done:last-child {
  background-color: var(--blue) !important;
}

.exercise-done>*:not(strong, .edit-exercise) {
  background-color: var(--blue) !important;
  color: var(--dark) !important;
  font-weight: 600 !important;
  box-shadow: inset 0 0 0 0.15em var(--blue), 0 2px 5px black !important;
}

.exercise-done .edit-exercise * {
  fill: var(--blue) !important;
}

.hide {
  display: none !important;
}

#planners-form-splits button {
  margin: 0 auto;
}

@media screen and (max-width: 460px) {

  .max-area>div {
    display: none;
  }

  #toggle-menu {
    display: block;
    margin-top: .3em;
  }

  #toggle-menu * {
    stroke: var(--orange);
    fill: var(--orange);
  }

}