#dashboard-content span {
  margin-left: 5px;
  color: var(--dark);
  text-decoration: underline;
  font-weight: 600;
  font-size: 1.5em;
}

.card {
  background-color: var(--dark);
  border: 0.3em solid var(--orange);
  padding: 1em 1.5em 1.3em;
  border-radius: 10px;
  height: 90%;
}

#planners .card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#sec-top,
.left,
.rigth,
.pro-price,
.price,
#sec-mid,
#sec-bottom {
  display: flex;
}

#sec-top,
#sec-mid,
#sec-bottom {
  flex-grow: 1;
  gap: 2em;
}

.left,
.right,
#planners,
#calendar {
  flex: 1;
}

.left {
  gap: 2em;
}

.right {
  min-width: 800px;
}


.content-card {
  background-color: var(--light);
  color: var(--dark);
  font-size: 1.5em;
  width: 100%;
  padding: .5em 1em;
  border: none;
  display: flex;
  gap: 10px;
  margin-bottom: 1em;
  transition: 100ms ease;
}

.content-card * {
  color: var(--dark);
  font-weight: 500 !important;
}

#planners .content-card {
  position: relative;
}

.floating-icon {
  position: absolute;
  width: 1.2em;
  height: 1.2em;
  right: 1em;
  top: 50%;
  transform: translateY(-50%);
  overflow: visible;
}

.floating-icon * {
  fill: var(--dark)
}

.floating-icon:hover * {
  animation: shake 300ms ease-in-out;
}

@keyframes shake {
  0% {
    transform: rotate(-10deg);

  }

  50% {
    transform: rotate(10deg);

  }

  100% {
    transform: rotate(0deg);
  }
}

.content-card,
.pro-btn {
  border-radius: 6px;
  align-self: center;
}

.pro-btn {
  width: 100%;
  padding: .5em 2em;
  background-color: rgba(0, 0, 0, 0);
  border: .2em solid var(--orange);
  box-shadow: 0 0 6px var(--orange);
  font-size: 1.5em;
  font-weight: 300;
  justify-content: center;
}

.pro-btn>span {
  font-size: 1em !important;
}

.pro-btn:hover {
  font-weight: 400;
}

img[alt='logoPRO'] {
  width: 50%;
}

.pro-price {
  margin: 1.5em 0 -1em;
  gap: .5em;
}

.price {
  text-shadow: .2em .2em .3em rgba(0, 0, 0, 0.35);
  position: relative;
}

.price strong {
  font-size: 3.5em;
  font-weight: 500;
}

.price strong::after {
  content: '';
  height: .5em;
  width: .5em;
  background-image: url(/assets/images/Rectangle\ 40.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;
  position: absolute;
  bottom: .4em;
  right: 4.8rem;
}

.price p {
  font-size: 1.5em;
  font-weight: 300;
  align-self: flex-end;
  margin-bottom: .6em;
  margin-left: 1em;
}

@media (max-width: 2300px) {
  body {
    background-color: red;
  }
}

@media screen and (max-width: 1200px) {

  #sec-top,
  #sec-bottom {
    flex-direction: column;
  }

  #sec-mid {
    flex-direction: column-reverse;
  }

  .left,
  #workout-sec {
    width: max-content;
  }

  #planners {
    max-width: max-content;
  }

  #planners .card {
    min-width: 350px;
    max-width: 400px;
  }

  .planner-card {
    height: 35px;
  }

  .planner-card * {
    font-size: 14px;
  }

  .pro-price {
    transform: translate(-25px) scale(.85);
  }

}

@media screen and (max-width: 992px) {
  .left {
    flex-direction: column;
    margin: 0 auto;
  }

  #planners .card {
    min-width: 350px;
    max-width: 450px;
    width: 450px;
  }
}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 576px) {}