#workout-sec {
  width: 100%;
  height: 100%;
}

#workout-sec .card-area {
  overflow: scroll;
  width: 100%;
  transition: all 200ms ease-in-out !important;
}

.card-area {
  position: relative;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  opacity: 0;
}

::-webkit-scrollbar {
  background-color: rgba(0, 0, 0, 0);
}

.card-area::-webkit-scrollbar-thumb {
  background: var(--orange);
  border-radius: 10px;
}

::-webkit-scrollbar-corner {
  opacity: 0;
}

.exercises {
  display: flex;
  align-items: center;
  border-radius: 8px;
  gap: 5px;
  margin-bottom: 10px;
  cursor: pointer;
  animation: to-top 150ms ease-in-out;
}

.exercise-card {
  min-width: 2.25em;
  padding: .25em .75em;
  border: none;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--dark);
  transition: 100ms ease;
  font-size: 1.5em;
  font-weight: 600;
}

.exercises .exercise-card:nth-child(2) {
  justify-content: left;
  flex-grow: 1;
  white-space: nowrap;
  text-overflow: ellipsis;

}

.exercises .exercise-card:nth-child(6),
.exercises .exercise-card:nth-child(7),
.exercises .exercise-card:nth-child(8) {
  width: 8ch;
  margin-left: 10px;
  background-color: var(--dark);
  box-shadow: 0 0 0 2px var(--orange);
  font-weight: 300;
  color: var(--light);
}

#add-exercise {
  margin: 1.5em 0 0;
  font-size: 1em;
  position: relative;
}

#add-exercise *:not(strong) {
  background-color: rgba(0, 0, 0, 0);
  color: var(--light);
  font-weight: 300;
  box-shadow: 0 0 0 2px var(--orange);
}

#add-exercise>#remove {
  display: none;
}

.exercise-card:nth-child(1) {
  max-width: 45px;
}

.exercise-card:nth-child(3) {
  max-width: 30px;
}

.exercise-card:nth-child(5) {
  max-width: 30px;
}

#exerc-name {
  margin: 0 .4em;
}

#exerc-add {
  background-color: var(--orange) !important;
  color: var(--dark) !important;
  font-weight: 600 !important;
}

.edit {
  margin-left: 10px;
  border: none !important;
  min-width: 20px;
  max-width: 30px;
}

.edit * {
  fill: var(--orange);
}

.edit {
  max-width: 20px;
}

.remove-btn svg {
  width: 100%;
  height: 60%;
  transform: translate(-25%, 25%);
  cursor: pointer;
}

.remove-btn {
  cursor: pointer;
}

.remove-btn:hover * {
  fill: red;
}

.exercises *:hover {
  cursor: pointer;
}

.exercises .exercise-card:nth-child(6):hover,
.exercises .exercise-card:nth-child(7):hover,
#add-exercise .exercise-card:nth-child(6):hover,
#add-exercise .exercise-card:nth-child(7):hover {
  background-color: var(--light);
  color: var(--dark);
  font-weight: 600;
  outline: none;
}

.exercises .exercise-card:nth-child(6):active,
.exercises .exercise-card:nth-child(7):active,
#add-exercise .exercise-card:nth-child(7):active {
  background-color: var(--blue);
  color: var(--dark);
  font-weight: 600;
  border: none;
  outline: none;
}

.exercises .exercise-card:nth-child(2) {
  position: relative;
}

.description-card {
  position: absolute;
  z-index: 30;
  left: 0;
  top: 1.5em;
  max-width: 100% !important;
  height: fit-content;
  background-color: var(--light);
}

.description-card p {
  font-size: .6em;
  max-width: 100%;
  max-height: fit-content;
  color: var(--dark);
  outline: none;
  border: none !important;
  word-break: normal;
  white-space: normal;
  text-align: start;
}



.done>*:not(strong, #edit, #remove) {
  color: var(--dark) !important;
  font-weight: 600 !important;
  background-color: var(--blue) !important;
  border: none !important;
  outline: none;
}


#exerc-index {
  position: relative;
}

#index-label,
#name-label,
#reps-label,
#sets-label {
  background-color: rgba(0, 0, 0, 0);
  color: var(--orange);
}

.labelHiden {
  font-size: 1.5em;
  width: 9.6ch;
  opacity: 0;
}

@media screen and (max-width: 2400px) {
  .labelHiden {
    width: 10ch;
  }
}

@media screen and (max-width: 1600px) {
  .labelHiden {
    width: 10.5ch;
  }
}

@media screen and (max-width: 1500px) {
  .exercises .exercise-card:nth-child(2) {
    min-width: 30ch;
  }

  .exercises .exercise-card:nth-child(6) {
    min-width: 8ch;
  }

  .exercises .exercise-card:nth-child(7),
  .exercises .exercise-card:nth-child(8) {
    min-width: max-content;
  }

  .labelHiden {
    width: 11ch;
  }
}

@media screen and (max-width: 1200px) {

  #workout-sec .card-area {
    min-height: 250px !important;
  }
}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 576px) {}

/* --------------  height related -------------------- */

@media only screen and (min-height: 2000px) {}