#workout-sec {
  width: 100%;
  height: 100%;
}

#workout-sec .card-area {
  overflow: scroll;
  width: 100%;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  opacity: 0;
}

::-webkit-scrollbar {
  background-color: rgba(0, 0, 0, 0);
}

.card-area::-webkit-scrollbar-thumb {
  background: var(--orange);
  border-radius: 10px;
}

::-webkit-scrollbar-corner {
  opacity: 0;
}

.exercises {
  display: flex;
  align-items: center;
  border-radius: 8px;
  gap: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}

.exercise-card {
  min-width: 2.25em;
  padding: .25em .75em;
  border: none;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--dark);
  transition: 100ms ease;
  font-size: 1.5em;
  font-weight: 600;
}

.exercises .exercise-card:nth-child(2) {
  justify-content: left;
  flex-grow: 1;
}

.exercises .exercise-card:nth-child(6),
.exercises .exercise-card:nth-child(7),
.exercises .exercise-card:nth-child(8) {
  width: 8ch;
  margin-left: 10px;
  background-color: var(--dark);
  box-shadow: 0 0 0 2px var(--orange);
  font-weight: 300;
  color: var(--light);
}

#add-exercise {
  margin: 1.5em 0 0;
  font-size: 1em;
  position: relative;
}

#add-exercise *:not(strong) {
  background-color: rgba(0, 0, 0, 0);
  color: var(--light);
  font-weight: 300;
  box-shadow: 0 0 0 2px var(--orange);
}

#add-exercise>#remove {
  display: none;
}

.exercise-card:nth-child(1) {
  max-width: 45px;
}

.exercise-card:nth-child(3) {
  max-width: 30px;
}

.exercise-card:nth-child(5) {
  max-width: 30px;
}

#exerc-add {
  background-color: var(--orange) !important;
  color: var(--dark) !important;
  font-weight: 600 !important;
}

.edit {
  margin-left: 10px;
  border: none !important;
  min-width: 20px;
  max-width: 30px;
}

.edit * {
  fill: var(--orange);
}

#edit {
  display: none;
}

#remove {
  max-width: 20px;
}

.exercises *:hover {
  cursor: pointer;
}

.exercises .exercise-card:nth-child(6):hover,
.exercises .exercise-card:nth-child(7):hover,
#add-exercise .exercise-card:nth-child(6):hover,
#add-exercise .exercise-card:nth-child(7):hover {
  background-color: var(--light);
  color: var(--dark);
  font-weight: 600;
  outline: none;
}

.exercises .exercise-card:nth-child(6):active,
.exercises .exercise-card:nth-child(7):active,
#add-exercise .exercise-card:nth-child(7):active {
  background-color: var(--blue);
  color: var(--dark);
  font-weight: 600;
  border: none;
  outline: none;
}

.done>*:not(strong, #edit, #remove) {
  color: var(--dark) !important;
  font-weight: 600 !important;
  background-color: var(--blue) !important;
  border: none !important;
  outline: none;
}

#exerc-index {
  position: relative;
}

#exerc-index::after {
  position: absolute;
  content: 'N';
  height: 100px;
  width: 100px;
  background-color: red;
  z-index: 10;
  top: 0;
}

#index-label,
#name-label,
#reps-label,
#sets-label {
  background-color: rgba(0, 0, 0, 0);
  color: var(--orange);
}

.labelHiden {
  font-size: 1.5em;
  width: 9.6ch;
  opacity: 0;
}


@media screen and (max-width: 1200px) {
  .exercise-card {
    height: 35px;
    min-width: 35px;
    font-size: 14px;
  }

  .exercise-card {
    padding: 0;
  }

  .exercise-card:nth-child(2) {
    text-indent: 20px;
  }

  .exercise-card:nth-child(1) {
    max-width: 36px;
  }

  .exercise-card::placeholder {
    font-size: 14px;
    text-align: center;
    text-indent: 0;
  }

  .card-area {
    max-width: 720px;
  }
}

@media screen and (max-width: 992px) {
  .exercise-card {
    height: 35px;
    min-width: 35px;
    font-size: 14px;
  }

  .exercise-card {
    padding: 0;
  }

  .exercise-card:nth-child(2) {
    text-indent: 20px;
  }

  .exercise-card:nth-child(1) {
    max-width: 36px;
  }

  .exercise-card::placeholder {
    font-size: 14px;
    text-align: center;
    text-indent: 0;
  }

  .card-area {
    width: 450px !important;
  }

  .right {
    margin: 0 auto;
    min-width: 0;
    width: 450px !important;
  }
}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 576px) {}